.play-container {
  background: #f9f9f9;
  padding: 20px 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .play-container {
    /* padding: auto 5%; */
    /* dont use this upper */
    padding-left: 5%;
    padding-right: 5%;
  }
}
